<div class="container">
  <div class="user-details">
    <h3> Personal  Summary </h3>
    <p> {{site.user_description}} </p>
  </div>
      <h1 style= "text-align:center"> </h1>
      <p style = "text-align:center">Computer science student at the University of Wisconsin Madison. Familiar with Java, C#, and python. I am interested in algorithms and machine learning and am willing to take the initiative in learning new things. I am looking for a software development position that will allow me to gain experience with how software is developed in a professional environment.</p>

</div>
	