<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/Gomuku.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Gomuku </h5>
      <li> Featured Skills</li>
      <p>This project is an implementation of the game Gomuku. Gomuku is a two player connect 5 game on a go board. The computer player implements an Alpha Beta search algortihm to determine the best move. In order to create this project I used Java and the Processing Library for the Graphics</p>
      <a class="https://github.com/ysteven13/GomokuProject/tree/master" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    
  </div>
</div>
